

.calc{
    border: 1px solid #B7B4B4;
    border-radius: 5px;
    position: absolute;
    top:58%;
    left:50%;
    transform:translate(-50%,-50%);
    width:400px;
    
   
}

.heading{
  font-size: 7rem;
  padding-left: 33%;
  padding-top: 25px;
  color: #252525;
  text-decoration: underline;

}

.screen{
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border:none;
    background-color:#898686;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    
}

button{
    height: 60px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #B7B4B4;
   
    font-size: 2rem;
    color: #333;
    
}
button:hover {
    background-color: #eaeaea;
  }

  
.operator {
    color: #252525;
    font-size: 2.5rem;
    background-color: #E6DDDD;
  }

.clear{
    
    color: rgb(7, 6, 6);
    font-size: 2.5rem;
    background-color: #FE3232;
}
.clear:hover {
    background-color: #F61919;
  }
  
  .equal {
    
    color: rgb(7, 6, 6);
    height: 100%;
    font-size: 2.5rem;
    grid-area: 2 / 4 / 6 / 5;
    background-color: #F36541;
  }
  
  .equal:hover {
    background-color: #F95229;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:4px;
    padding: 10px;
    
    
  }